#root {
  margin: 0 auto;
}


main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  width: 280px;
}

.main-content {
  flex-grow: 1;
  padding-top: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.liBigBg {

  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: azure;
  border-radius: 15px;
}

.song button {
  border: none;
  background-color: transparent;
}

#description-playlist{

  margin-left: 50px;
 font-style: italic;
}

#playlist-header {

  display: flex;
  justify-content: space-between;
}

#playlist-header button {

  width: 120px;
  height: 50px;
  padding: 0;
}

#work-in-progress {

  margin-left: 100px;
}

#title{

  font-size: 50px;
}

.subtitle {

  font-size: 20px;
  text-decoration: underline;
}

#button-div {

  display: flex;
  flex-direction: row;
  gap: 100px;
}

 #h1-div {

  margin-bottom: 50px;
}

#welcome-message {

  text-decoration: underline;
  font-weight: 400;
}

#editCssButton {

  width: 50px !important;
  height: 50px !important;
}

#divButtonPlaylist {

  display: flex !important;
  gap: 50px !important;
}
#createPlaylistDiv {

  display: flex;
  flex-direction: column;
}

#AddSongToPlauylist_Main_Div{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#songListWhenAdding{

  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}

#songlist {

  display: flex;
  gap: 20px;
  width: 600px;
}
#showSongList {

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#showSongList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  width: 600px;
  border-radius: 15px;
}

#showSongList li button {

  background-color: transparent;
  border: none;
}